<% if @order.errors.any? %>
  <div class="rounded-md bg-red-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800">
          There were errors with your submission
        </h3>
        <div class="mt-2 text-sm text-red-700">
          <ul role="list" class="list-disc pl-5 space-y-1">
            <% @order.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_with model: @order, html: { class: "grid grid-cols-2 gap-x-16" }, data: { turbo: false } do |f| %>
  <div>
    <div>
      <h2 class="text-lg font-medium text-gray-900">Contact information</h2>

      <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm p-6">
        <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
        <div class="mt-1">
          <%= f.email_field :email, autocomplete: "email", id: "email-address", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
        </div>
      </div>
    </div>

    <div class="mt-6">
      <h2 class="text-lg font-medium text-gray-900">Shipping information</h2>

      <div class="mt-2 bg-white border border-gray-200 rounded-lg shadow-sm p-6 grid gap-y-6 grid-cols-2 gap-x-4">
        <%= f.fields_for :shipping_address do |a| %>
          <div>
            <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
            <div class="mt-1">
              <%= a.text_field :first_name, id: "first_name", autocomplete: "given-name", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div>
            <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
            <div class="mt-1">
              <%= a.text_field :last_name, id: "last_name", autocomplete: "family-name", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div class="col-span-2">
            <label for="line1" class="block text-sm font-medium text-gray-700">Address</label>
            <div class="mt-1">
              <%= a.text_field :line1, id: "line1", autocomplete: "street-address", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div class="col-span-2">
            <label for="line2" class="block text-sm font-medium text-gray-700">Apartment, suite, etc.</label>
            <div class="mt-1">
              <%= a.text_field :line2, id: "line2", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div>
            <label for="zip" class="block text-sm font-medium text-gray-700">ZIP</label>
            <div class="mt-1">
              <%= a.text_field :zip, id: "zip", autocomplete: "postal-code", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div>
            <label for="city" class="block text-sm font-medium text-gray-700">City</label>
            <div class="mt-1">
              <%= a.text_field :city, id: "city", autocomplete: "address-level2", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div>
            <label for="state" class="block text-sm font-medium text-gray-700">State</label>
            <div class="mt-1">
              <%= a.text_field :state, id: "state", autocomplete: "address-level1", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div>
            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
            <div class="mt-1">
              <%= a.select :country, ISO3166::Country.pluck(:iso_short_name, :alpha2), {}, autocomplete: "country-name", id: "country", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-6">
      <h2 class="text-lg font-medium text-gray-900">Payment</h2>

      <div class="mt-2 bg-white border border-gray-200 rounded-lg shadow-sm p-6 grid grid-cols-4 gap-y-6 gap-x-4">
        <%= f.fields_for :credit_card do |c| %>
          <div class="col-span-4">
            <label for="card_number" class="block text-sm font-medium text-gray-700">Card number</label>
            <div class="mt-1">
              <%= c.text_field :number, id: "card_number", autocomplete: "cc-number", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div class="col-span-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name on card</label>
            <div class="mt-1">
              <%= c.text_field :name, id: "name", autocomplete: "cc-name", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div class="col-span-1">
            <label for="exp_month" class="block text-sm font-medium text-gray-700">Expiration month</label>
            <div class="mt-1">
              <%= c.text_field :exp_month, id: "exp_month", autocomplete: "cc-exp-month", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div class="col-span-1">
            <label for="exp_year" class="block text-sm font-medium text-gray-700">Expiration year</label>
            <div class="mt-1">
              <%= c.text_field :exp_year, id: "exp_year", autocomplete: "cc-exp-year", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>

          <div class="col-span-2">
            <label for="cvc" class="block text-sm font-medium text-gray-700">CVC</label>
            <div class="mt-1">
              <%= c.text_field :cvc, id: "cvc", autocomplete: "csc", class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-0">
    <h2 class="text-lg font-medium text-gray-900">Order summary</h2>

    <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm">
      <h3 class="sr-only">Items in your cart</h3>
      <ul role="list" class="divide-y divide-gray-200">
        <% @order.line_items.each do |line_item| %>
          <li class="flex py-6 px-6">
            <div class="flex-shrink-0">
              <%= image_tag line_item.product.image.representation(resize_to_limit: [80, 120]), class: "w-20 rounded-md" %>
            </div>

            <div class="ml-6 flex-1 flex flex-col">
              <div class="flex">
                <div class="min-w-0 flex-1">
                  <h4 class="text-sm font-medium text-gray-700 hover:text-gray-800">
                    <%= line_item.product.name %>
                  </h4>
                  <p class="mt-1 text-sm text-gray-500">
                    x<%= line_item.quantity %>
                  </p>
                </div>
              </div>

              <div class="flex-1 pt-2 flex items-end justify-between">
                <p class="mt-1 text-sm font-medium text-gray-900"><%= number_to_currency(line_item.total) %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <dl class="border-t border-gray-200 py-6 px-4 space-y-6 px-6">
        <div class="flex items-center justify-between">
          <dt class="text-base font-medium">
            Total
          </dt>
          <dd class="text-base font-medium text-gray-900">
            <%= number_to_currency(@order.total) %>
          </dd>
        </div>
      </dl>

      <%= turbo_frame_tag "submit-button-turbo-frame" do%>
        <%= render "confirm_button" %>
      <% end %>

      <div id="delivery-info"> <p></p></div>
    </div>
  </div>
<% end %>
